@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600, 700, 800,900&display=swap');
:root{
    --violet : rgb(32,14,50);
    --vhover : rgb(65, 29, 103);
    --rose : rgb(207, 60, 112);
    --rhover : rgb(159, 42, 83);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
header h2{
    font-weight: 600;
    color: var(--violet);
    margin-top: 5px;
}
.bg-violet{
    background-color: var(--violet);
}
.text-violet{
    color: var(--violet);
}
.text-rose{
    color: var(--rose);
}
.bg-rose{
    background:linear-gradient(0.25turn,var(--rose),var(--vhover));
}
.bg-beige{
    background-color: rgba(243, 241, 236, 1);
}
.bg-violet:hover{
    background-color: var(--vhover);
}
.bigh1{
    font-size: 4vw;
}
.border-rose{
    border: 4px var(--rose) dashed;
}
.scrolled {
margin: 0 2vw;
  top: 1vw;
  background-color: white;
  border-radius: 5vw;
  transition: border-radius 0.5s ease, box-shadow 0.5s ease, top 0.5s ease,backgroud-color 2s ease ;
  box-shadow: 0 0.5vw 0.5vw rgba(0, 0, 0, 0.1);
}
.trans{
    transition-duration: 0.5s;
}
.hover-rose:hover{
    color: var(--rose);
}
@media (min-width: 992px) {
    .scroll-invisible {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}
}


.scroll-invisible::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}
@media (min-width: 992px) {
    .scrollcontenu {
        height: 80vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}
.border-dashed{
    border: dashed black 2px;
}
.left-col {
    color: white;
}
.bg-blue{
    background-color: #1f2e44;
}
.text-blue{
    color: #1f2e44;
}
.profile-img {
    height: 27%;
    border-bottom: rgb(255, 255, 255) solid 1px;
}
.profile-img img{
    width: 70%;
}
.contact{
    height: 12%;
}
.parcours{
    height: 41%;
}
.langues{
    height: 20%
}
.bar {
    height: 6px;
    background-color: #ccc;
    border-radius: 5px;
}

.bare {
    height: 6px;
    border-radius: 5px;
}
.fs-7{
    font-size: 0.75rem;
}
.fs-8{
    font-size: 0.65rem;
}
.w-60{
    width: 75%;
}
.display-0{
    font-size: 6rem;
}
.profil{
    height: 25%;
}
.experience{
    height: 43%;
}
.competence{
    height: 22%;
}
.competence span{
    display: inline-block;
    width: 17%;
}
.interet{
    height: 10%;
}
.border-black{
    border: solid black 0.1vw;
}
.round{
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
}
.big{
    transform: scale(0.45);
    position: relative;
    bottom: 50vw;
}
@media (min-width: 500px) {
    .big {
        transform: scale(0.5);
        position: relative;
        bottom: 40vw;
    }
}
@media (min-width: 600px) {
    .big {
        transform: scale(0.6);
        position: relative;
        bottom: 30vw;
    }
}
@media (min-width: 700px) {
    .big {
        transform: scale(0.7);
        position: relative;
        bottom: 20vw;
    }
}
@media (min-width: 800px) {
    .big {
        transform: scale(0.6);
        position: relative;
        bottom:0;
    }
}
@media (min-width: 1200px) {
    .big {
        transform: scale(0.9);
        position: relative;
        bottom:0;
    }
}
.mininav {
   width: 80%;
   top: 2vw;
}
@media (min-width: 992px) {
    .mininav {
        width: 60%;
    } 
}
